.about-page {
  padding: 20px;
  background-color: #f9f9f9;
}
.about-mission{
  padding: 3rem 3rem;
    background-color: var(--background-color);
} 
.about-mission p{
  font-size: 1.2rem;
  line-height: 1.5;
}
.about-mission h2{
  /* font-size: 2rem; */
  color: var(--heading-color);
  margin-bottom: 1rem;
}
.about-mission ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}
.about-mission li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: var(--text-color);
} 
.about-mission li::marker {
  color: var(--heading-color);
}
