.facility-info{
  padding: 1rem 3rem;
    background-color: var(--background-color);
}
.facility-details{
  padding: 1rem 3rem;
    background-color: var(--background-color);
}
.facility-info{
  padding: 1rem 3rem; 
}
.facility-info p {
  font-size: 1.2rem;
  color: var(--text-color);
}
.facility-info ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.facility-info li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
}   
.facility-info li::marker {
  color: var(--marker-color);
}   
.facility-info li:hover {
  color: var(--hover-color);
} 
.facility-info li a {
  color: var(--link-color);
  text-decoration: none;
}    
.facility-details {
  padding: 1rem 3rem;
}
.facility-details h2 {
  /* font-size: 2rem;  */
  color: var(--text-color);
  margin-bottom: 1rem;
}
.facility-details p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}   
