.footer {
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}
.footer-content {
  display: flex;
  justify-content: space-around;

  padding: 20px 0;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: var(--color-secondary);
  color: #333;
  border: 1px solid #ccc;
}

.basic-info i,
.socialmedia i {
  color: var(--iconColor);
  margin-right: 10px;
}
