header {
  padding-block: 1.3rem;
  padding-inline: 3.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.334);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-secondary); */
  background-color: #cdb7a2;
  position: sticky;
  top: 0.1px;
  z-index: 3;
}

nav a {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-primary);
}

nav a:hover {
  color: var(--text-secondary);
  transition: 0.5s;
}

.logo {
  font-size: 2rem;
  color: rgb(3, 3, 58);
}
.logo span {
  font-size: 2rem;
  color: rgb(3, 3, 58);
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}
.logo i {
  margin-right: 0.5rem;
}

.navbtn {
  height: 2.5rem;
  width: 8rem;
  /* padding: 1rem; */
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  position: relative;

}

/* .navbtn::after{
  content: "";
  position: absolute;

  left: 0;
  background-color: #cdb7a2;
}
.navbtn:hover::after{

} */
